html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #f4f4f4;
}

.header {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    background-color: #111;
    color:#FFC600;
}

h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 4rem;
}

.container {
    background: url(./images/js-road.jpg), rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75vw;
    margin: auto;
    padding: 100px;
    text-align: center;
    /* text-transform: capitalize; */
    color: #ffffff;
    flex-wrap: wrap;
}

.box {
    width: 200;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #111;
    font-size: 1rem;
    margin: 30px;
    
}

#boximg {
    height: 22vh;
    width: 15vw;
    resize: contain;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

#repolink, #livelink {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #111;
}

a:link {
    text-decoration: none;
}

